{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  </head>
  <body>
    <header>
      <div class="link-section">
        <span class="link-span"><a href="{% url 'Home' %}">Home</a></span>
        <span class="link-span"><a href="{% url 'About' %}">About</a></span>
      </div>
    </header>
    <main>
      <div class="container">{% block content %} {% endblock content %}</div>
    </main>
    <footer></footer>
  </body>
</html>
